img{
    display: block;
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 50%;
}

#contact-1{
    display: flex;
}

p{
    margin: 0px;
    font-size: unset;
}

h3{
    margin: 41px 0px 3px 0px;
}